<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8" />-->
    <!--<title>Jog Times - Delete Account</title>-->

    <!--&lt;!&ndash; Tailwind.css is a CSS library. Read the docs here: &ndash;&gt;-->
    <!--&lt;!&ndash; https://tailwindcss.com/docs/what-is-tailwind &ndash;&gt;-->
    <!--<link rel="stylesheet" href="/tailwind.css" />-->
<!--</head>-->
<!--<body>-->
<!--<main>-->
    <!--<a-->
            <!--href="/times/{{ time.id }}/delete"-->
            <!--class="block mt-8 text-red-light no-underline hover:underline"-->
    <!--&gt;-->
        <!--Delete Account-->
    <!--</a>-->
<!--</main>-->
<!--</body>-->




<!--<header class="fixed pin-x pin-t bg-purple shadow text-white">-->
    <!--<div-->
            <!--class="mx-auto h-16 p-4 flex items-center justify-between"-->
            <!--style="width: 800px"-->
    <!--&gt;-->
        <!--<h2><a href="/times" class="text-white no-underline">Jog Times</a></h2>-->
        <!--<div>-->
            <!--Signed in as {{ user.name }} ({{ user.email }})-->
            <!--<a-->
                    <!--href="/sign-out"-->
                    <!--class="text-white border border-white rounded p-2 no-underline hover:bg-purple-light ml-4"-->
            <!--&gt;-->
                <!--Sign Out-->
            <!--</a>-->
            <!--<a-->
                <!--href="/delete-account"-->
                <!--class="text-white border border-white rounded p-2 no-underline hover:bg-purple-light ml-4"-->
            <!--&gt;-->
                <!--Delete Account-->
                <!---->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</header>-->

